USE [Chat_Database]
GO
/****** Object:  Table [dbo].[Chat_Table]    Script Date: 1/8/2026 5:37:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Chat_Table](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](max) NOT NULL,
	[name] [varchar](max) NOT NULL,
	[text] [varchar](max) NOT NULL,
	[date] [varchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[insert_chat]    Script Date: 1/8/2026 5:37:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[insert_chat]
	  @username VARCHAR(MAX),
  @name VARCHAR(MAX),
    @text VARCHAR(MAX),
  @date VARCHAR(MAX)


AS
BEGIN
    INSERT INTO Chat_Table (username,
    name,
	text,
    date )
    VALUES ( @username,
    @name,
	@text,
    @date )
END
GO
/****** Object:  StoredProcedure [dbo].[view_chat]    Script Date: 1/8/2026 5:37:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[view_chat]
AS
BEGIN
    SELECT * FROM Chat_Table;
END;
GO
/****** Object:  StoredProcedure [dbo].[view_latest_message]    Script Date: 1/8/2026 5:37:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[view_latest_message]
AS
BEGIN
    SELECT TOP 5 *
    FROM [dbo].[Chat_Table]
    ORDER BY [Id] DESC;  
END;
GO
