USE [Chemistry_Database]
GO
/****** Object:  Table [dbo].[Chemistry_Table]    Script Date: 1/8/2026 5:38:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Chemistry_Table](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[atomic_number] [varchar](max) NOT NULL,
	[element_name] [varchar](max) NOT NULL,
	[element_symboles] [varchar](max) NOT NULL,
	[atomic_mass] [varchar](max) NOT NULL,
	[protons] [varchar](max) NOT NULL,
	[electons] [varchar](max) NOT NULL,
	[neutrons] [varchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Chemistry_Table01]    Script Date: 1/8/2026 5:38:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Chemistry_Table01](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Alkali_Metals] [varchar](max) NOT NULL,
	[Alkaline_Earth_Metals] [varchar](max) NOT NULL,
	[Transition_Metals] [varchar](max) NOT NULL,
	[Lanthanides_Rare_Earth_Metals] [varchar](max) NOT NULL,
	[Noble_Gases] [varchar](max) NOT NULL,
	[Actinides] [varchar](max) NOT NULL,
	[Nonmetal_Gases_at_Room_Temperature] [varchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[Find_Actinides]    Script Date: 1/8/2026 5:38:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Find_Actinides]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT Id, Actinides
    FROM Chemistry_Table01;
END
GO
/****** Object:  StoredProcedure [dbo].[find_Alkaline_Earth_Metals]    Script Date: 1/8/2026 5:38:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[find_Alkaline_Earth_Metals]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT Id, Alkaline_Earth_Metals
    FROM Chemistry_Table01;
END
GO
/****** Object:  StoredProcedure [dbo].[find_element_using_atomic_number]    Script Date: 1/8/2026 5:38:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[find_element_using_atomic_number]
    @atomic_number VARCHAR(MAX)
AS
BEGIN
    SELECT atomic_number, element_name, element_symboles, atomic_mass    ,protons,
    electons,
    neutrons
    FROM Chemistry_Table
    WHERE atomic_number = @atomic_number
	END
GO
/****** Object:  StoredProcedure [dbo].[find_element_using_name]    Script Date: 1/8/2026 5:38:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[find_element_using_name]
    @element_name VARCHAR(MAX)
AS
BEGIN
    SELECT atomic_number, element_name, element_symboles, atomic_mass    ,protons,
    electons,
    neutrons
    FROM Chemistry_Table
    WHERE element_name = @element_name
END
GO
/****** Object:  StoredProcedure [dbo].[find_element_using_symbol]    Script Date: 1/8/2026 5:38:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[find_element_using_symbol]
    @element_symboles VARCHAR(MAX)
AS
BEGIN
    SELECT atomic_number, element_name, element_symboles, atomic_mass    ,protons,
    electons,
    neutrons
    FROM Chemistry_Table
    WHERE element_symboles = @element_symboles
END
GO
/****** Object:  StoredProcedure [dbo].[find_Lanthanides_Rare_Earth_Metals]    Script Date: 1/8/2026 5:38:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[find_Lanthanides_Rare_Earth_Metals]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT Id, Lanthanides_Rare_Earth_Metals
    FROM Chemistry_Table01;
END
GO
/****** Object:  StoredProcedure [dbo].[find_Noble_Gases]    Script Date: 1/8/2026 5:38:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[find_Noble_Gases]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT Id, Noble_Gases
    FROM Chemistry_Table01;
END
GO
/****** Object:  StoredProcedure [dbo].[find_Nonmetal_Gases_at_Room_Temperature]    Script Date: 1/8/2026 5:38:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[find_Nonmetal_Gases_at_Room_Temperature]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT Id, Nonmetal_Gases_at_Room_Temperature
    FROM Chemistry_Table01;
END
GO
/****** Object:  StoredProcedure [dbo].[find_Transition_Metals]    Script Date: 1/8/2026 5:38:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[find_Transition_Metals]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT Id, Transition_Metals
    FROM Chemistry_Table01;
END
GO
/****** Object:  StoredProcedure [dbo].[insert_catagory_type]    Script Date: 1/8/2026 5:38:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[insert_catagory_type]
    @Alkali_Metals                       VARCHAR(MAX),
    @Alkaline_Earth_Metals               VARCHAR(MAX),
    @Transition_Metals                   VARCHAR(MAX),
    @Lanthanides_Rare_Earth_Metals       VARCHAR(MAX),
    @Noble_Gases                          VARCHAR(MAX),
    @Actinides                            VARCHAR(MAX),
    @Nonmetal_Gases_at_Room_Temperature   VARCHAR(MAX)
AS
BEGIN
    SET NOCOUNT ON;

    -- Check if record already exists
    IF EXISTS (
        SELECT 1
        FROM Chemistry_Table01
        WHERE Alkali_Metals = @Alkali_Metals
          AND Alkaline_Earth_Metals = @Alkaline_Earth_Metals
          AND Transition_Metals = @Transition_Metals
    )
    BEGIN
        SELECT 'EXISTS' AS Result;
        RETURN;
    END

    INSERT INTO Chemistry_Table01 
    (
        Alkali_Metals,
        Alkaline_Earth_Metals,
        Transition_Metals,
        Lanthanides_Rare_Earth_Metals,
        Noble_Gases,
        Actinides,
        Nonmetal_Gases_at_Room_Temperature
    )
    VALUES 
    (
        @Alkali_Metals,
        @Alkaline_Earth_Metals,
        @Transition_Metals,
        @Lanthanides_Rare_Earth_Metals,
        @Noble_Gases,
        @Actinides,
        @Nonmetal_Gases_at_Room_Temperature
    );

    SELECT 'INSERTED' AS Result;
END;
GO
/****** Object:  StoredProcedure [dbo].[insert_element]    Script Date: 1/8/2026 5:38:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[insert_element]
	
	  @atomic_number VARCHAR(MAX),
  @element_name VARCHAR(MAX),
  @element_symboles VARCHAR(MAX),
  @atomic_mass VARCHAR(MAX),
  @protons VARCHAR(MAX),
    @electons VARCHAR(MAX),
    @neutrons VARCHAR(MAX) 
AS
BEGIN
		 SET NOCOUNT ON;

    -- Check if record already exists
    IF EXISTS (
        SELECT 1
        FROM Chemistry_Table
        WHERE atomic_number = @atomic_number
          AND element_name = @element_name
          AND element_symboles = @element_symboles
    )
    BEGIN
        -- Record already exists, return message
        SELECT 'EXISTS' AS Result;
        RETURN;
    END
    INSERT INTO Chemistry_Table (atomic_number,element_name, element_symboles, atomic_mass    ,protons,
    electons,
    neutrons)
    VALUES (@atomic_number, @element_name, @element_symboles, @atomic_mass,@protons,
    @electons,
    @neutrons)
    SELECT 'INSERTED' AS Result;
END;
GO
/****** Object:  StoredProcedure [dbo].[view_all_elements]    Script Date: 1/8/2026 5:38:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[view_all_elements]
AS
BEGIN
    SELECT * FROM Chemistry_Table;
END;
GO
/****** Object:  StoredProcedure [dbo].[view_catagory_type]    Script Date: 1/8/2026 5:38:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[view_catagory_type]
AS
BEGIN
    SELECT * FROM Chemistry_Table01;
END;
GO
