USE [Clients_Database]
GO
/****** Object:  Table [dbo].[Clients_Table01]    Script Date: 1/8/2026 5:39:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clients_Table01](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[organization_logo] [varchar](max) NOT NULL,
	[organization_name] [varchar](max) NOT NULL,
	[organization_email] [varchar](max) NOT NULL,
	[organization_number] [varchar](max) NOT NULL,
	[organization_address] [varchar](max) NOT NULL,
	[organization_latitude] [varchar](max) NOT NULL,
	[organization_longitude] [varchar](max) NOT NULL,
	[organization_primary_color] [varchar](max) NOT NULL,
	[organization_secondary_color] [varchar](max) NOT NULL,
	[organization_tertiary_color] [varchar](max) NOT NULL,
	[organization_social_media] [varchar](max) NOT NULL,
	[organization_type] [varchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[find_client_data_using_email]    Script Date: 1/8/2026 5:39:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[find_client_data_using_email]
    @organization_email VARCHAR(MAX)
AS
BEGIN
    SELECT organization_logo,
    organization_name,
    organization_email,
	organization_number,
	organization_address,
    organization_latitude,
	organization_longitude,
	organization_primary_color,
	organization_secondary_color,
    organization_tertiary_color,
	organization_social_media,
	organization_type
    FROM Clients_Table01
    WHERE organization_email = @organization_email
	END
GO
/****** Object:  StoredProcedure [dbo].[find_client_data_using_latitude_and_longitude]    Script Date: 1/8/2026 5:39:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[find_client_data_using_latitude_and_longitude]
	   @organization_latitude VARCHAR(MAX),
	@organization_longitude VARCHAR(MAX)

AS
BEGIN
    SELECT organization_logo,
    organization_name,
    organization_email,
	organization_number,
	organization_address,
    organization_latitude,
	organization_longitude,
	organization_primary_color,
	organization_secondary_color,
    organization_tertiary_color,
	organization_social_media,
	organization_type
    FROM Clients_Table01
    WHERE  organization_latitude = @organization_latitude
	AND organization_longitude = @organization_longitude
	END
GO
/****** Object:  StoredProcedure [dbo].[find_client_data_using_logo]    Script Date: 1/8/2026 5:39:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[find_client_data_using_logo]
    @organization_logo VARCHAR(MAX)
AS
BEGIN
    SELECT organization_logo,
    organization_name,
    organization_email,
	organization_number,
	organization_address,
    organization_latitude,
	organization_longitude,
	organization_primary_color,
	organization_secondary_color,
    organization_tertiary_color,
	organization_social_media,
	organization_type
    FROM Clients_Table01
    WHERE organization_logo= @organization_logo
	END
GO
/****** Object:  StoredProcedure [dbo].[find_client_data_using_name]    Script Date: 1/8/2026 5:39:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[find_client_data_using_name]
    @organization_name VARCHAR(MAX)
AS
BEGIN
    SELECT organization_logo,
    organization_name,
    organization_email,
	organization_number,
	organization_address,
    organization_latitude,
	organization_longitude,
	organization_primary_color,
	organization_secondary_color,
    organization_tertiary_color,
	organization_social_media,
	organization_type
    FROM Clients_Table01
    WHERE organization_name = @organization_name
	END
GO
/****** Object:  StoredProcedure [dbo].[find_client_data_using_number]    Script Date: 1/8/2026 5:39:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[find_client_data_using_number]
    @organization_number VARCHAR(MAX)
AS
BEGIN
    SELECT organization_logo,
    organization_name,
    organization_email,
	organization_number,
	organization_address,
    organization_latitude,
	organization_longitude,
	organization_primary_color,
	organization_secondary_color,
    organization_tertiary_color,
	organization_social_media,
	organization_type
    FROM Clients_Table01
    WHERE organization_number= @organization_number
	END
GO
/****** Object:  StoredProcedure [dbo].[insert_client_data]    Script Date: 1/8/2026 5:39:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[insert_client_data]
    @organization_logo            VARCHAR(MAX),
    @organization_name            VARCHAR(MAX),
    @organization_email           VARCHAR(MAX),
    @organization_number          VARCHAR(MAX),
    @organization_address         VARCHAR(MAX),
    @organization_latitude        VARCHAR(MAX),
    @organization_longitude       VARCHAR(MAX),
    @organization_primary_color   VARCHAR(MAX),
    @organization_secondary_color VARCHAR(MAX),
    @organization_tertiary_color  VARCHAR(MAX),
    @organization_social_media    VARCHAR(MAX),
    @organization_type            VARCHAR(MAX)
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO dbo.Clients_Table01 (
        organization_logo,
        organization_name,
        organization_email,
        organization_number,
        organization_address,
        organization_latitude,
        organization_longitude,
        organization_primary_color,
        organization_secondary_color,
        organization_tertiary_color,
        organization_social_media,
        organization_type
    )
    VALUES (
        @organization_logo,
        @organization_name,
        @organization_email,
        @organization_number,
        @organization_address,
        @organization_latitude,
        @organization_longitude,
        @organization_primary_color,
        @organization_secondary_color,
        @organization_tertiary_color,
        @organization_social_media,
        @organization_type
    );
END;
GO
/****** Object:  StoredProcedure [dbo].[view_all_client_data]    Script Date: 1/8/2026 5:39:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[view_all_client_data]
AS
BEGIN
    SELECT * FROM Clients_Table01;
END;
GO
