USE [Device_Database]
GO
/****** Object:  Table [dbo].[Device_Table01]    Script Date: 1/8/2026 5:40:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Device_Table01](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Manufacturer] [varchar](max) NOT NULL,
	[Model] [varchar](max) NOT NULL,
	[Name01] [varchar](max) NOT NULL,
	[VersionString] [varchar](max) NOT NULL,
	[Platform01] [varchar](max) NOT NULL,
	[Idiom] [varchar](max) NOT NULL,
	[DeviceType] [varchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Device_Table02]    Script Date: 1/8/2026 5:40:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Device_Table02](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IP] [varchar](max) NOT NULL,
	[Country] [varchar](max) NOT NULL,
	[Region] [varchar](max) NOT NULL,
	[City] [varchar](max) NOT NULL,
	[ISP] [varchar](max) NOT NULL,
	[Lat] [varchar](max) NOT NULL,
	[Lon] [varchar](max) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[insert_Device_Table]    Script Date: 1/8/2026 5:40:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[insert_Device_Table]
 
@Manufacturer  VARCHAR (MAX),
@Model  VARCHAR (MAX),
@Name01  VARCHAR (MAX),
@VersionString  VARCHAR (MAX),
@Platform01  VARCHAR (MAX),
@Idiom  VARCHAR (MAX),
@DeviceType  VARCHAR (MAX)

AS
BEGIN
    INSERT INTO Device_Table01 
    (
    Manufacturer,
Model,
Name01,
VersionString,
Platform01,
Idiom,
DeviceType
    )
    VALUES 
    (
     @Manufacturer,
@Model,
@Name01,
@VersionString,
@Platform01,
@Idiom,
@DeviceType
)
END
GO
/****** Object:  StoredProcedure [dbo].[insert_Device_Table01]    Script Date: 1/8/2026 5:40:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[insert_Device_Table01]

    @IP VARCHAR (MAX),
    @Country VARCHAR (MAX),
   @Region VARCHAR (MAX),
    @City VARCHAR (MAX),
     @ISP VARCHAR (MAX),
     @Lat VARCHAR (MAX),
     @Lon VARCHAR (MAX)

AS
BEGIN
    INSERT INTO Device_Table02
    (
    IP,
    Country,
   Region,
    City,
     ISP,
     Lat,
     Lon
    )
    VALUES 
    (
    @IP,
    @Country,
   @Region,
    @City,
     @ISP,
     @Lat,
     @Lon
)
END
GO
/****** Object:  StoredProcedure [dbo].[view_Device_Table]    Script Date: 1/8/2026 5:40:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[view_Device_Table]
	AS
	BEGIN
		SELECT * FROM Device_Table01;
	END;
GO
/****** Object:  StoredProcedure [dbo].[view_Device_Table01]    Script Date: 1/8/2026 5:40:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[view_Device_Table01]
AS
BEGIN
    SELECT * FROM Device_Table02;
END;
GO
