USE [File_Path_Database]
GO
/****** Object:  Table [dbo].[File_Table01]    Script Date: 1/8/2026 5:41:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[File_Table01](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[path] [varchar](max) NOT NULL,
	[file_name] [varchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[insert_file_path]    Script Date: 1/8/2026 5:41:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[insert_file_path]
      @path VARCHAR (MAX),
      @file_name VARCHAR (MAX)
AS
BEGIN
    INSERT INTO File_Table01(path,file_name)
    VALUES (@path,@file_name)
END
GO
