USE [Nba Database01]
GO
/****** Object:  Table [dbo].[Nba_Table01]    Script Date: 1/8/2026 5:48:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Nba_Table01](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[get01] [varchar](max) NOT NULL,
	[parameters01] [varchar](max) NOT NULL,
	[errors] [varchar](max) NOT NULL,
	[results] [varchar](max) NOT NULL,
	[response01] [varchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[insert_Leagues]    Script Date: 1/8/2026 5:48:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[insert_Leagues]

    @get01 VARCHAR (MAX),
    @parameters01 VARCHAR (MAX),
    @errors VARCHAR (MAX),
    @results VARCHAR (MAX),
    @response01 VARCHAR (MAX)

	AS
	BEGIN
			 SET NOCOUNT ON;

    -- Check if record already exists
    IF EXISTS (
        SELECT 1
        FROM Nba_Table01
        WHERE get01 = @get01
          AND parameters01 = @parameters01
          AND errors = @errors
    )
    BEGIN
        -- Record already exists, return message
        SELECT 'EXISTS' AS Result;
        RETURN;
    END
		INSERT INTO Nba_Table01
		(get01,
    parameters01,
    errors,
	results,
    response01 )
		VALUES (
		@get01,
    @parameters01,
    @errors,
	@results,
    @response01 )
    SELECT 'INSERTED' AS Result;
END;
GO
/****** Object:  StoredProcedure [dbo].[view_Leagues]    Script Date: 1/8/2026 5:48:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[view_Leagues]
AS
BEGIN
    SELECT * FROM [dbo].[Nba_Table01];
END;
GO
