USE [Nba Database]
GO
/****** Object:  Table [dbo].[Nba_Table01]    Script Date: 1/8/2026 5:47:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Nba_Table01](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TeamID] [varchar](max) NOT NULL,
	[Keys] [varchar](max) NOT NULL,
	[Active] [varchar](max) NOT NULL,
	[City] [varchar](max) NOT NULL,
	[Name] [varchar](max) NOT NULL,
	[LeagueID] [varchar](max) NOT NULL,
	[StadiumID] [varchar](max) NOT NULL,
	[Conference] [varchar](max) NOT NULL,
	[Division] [varchar](max) NOT NULL,
	[PrimaryColor] [varchar](max) NOT NULL,
	[SecondaryColor] [varchar](max) NOT NULL,
	[TertiaryColor] [varchar](max) NOT NULL,
	[QuaternaryColor] [varchar](max) NOT NULL,
	[WikipediaLogoUrl] [varchar](max) NOT NULL,
	[WikipediaWordMarkUrl] [varchar](max) NOT NULL,
	[GlobalTeamID] [varchar](max) NOT NULL,
	[NbaDotComTeamID] [varchar](max) NOT NULL,
	[HeadCoach] [varchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Nba_Table02]    Script Date: 1/8/2026 5:47:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Nba_Table02](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Season] [varchar](max) NOT NULL,
	[SeasonType] [varchar](max) NOT NULL,
	[TeamID] [varchar](max) NOT NULL,
	[Keys] [varchar](max) NOT NULL,
	[City] [varchar](max) NOT NULL,
	[Name] [varchar](max) NOT NULL,
	[Conference] [varchar](max) NOT NULL,
	[Division] [varchar](max) NOT NULL,
	[Wins] [varchar](max) NOT NULL,
	[Losses] [varchar](max) NOT NULL,
	[Percentage] [varchar](max) NOT NULL,
	[ConferenceWins] [varchar](max) NOT NULL,
	[ConferenceLosses] [varchar](max) NOT NULL,
	[DivisionWins] [varchar](max) NOT NULL,
	[DivisionLosses] [varchar](max) NOT NULL,
	[HomeWins] [varchar](max) NOT NULL,
	[HomeLosses] [varchar](max) NOT NULL,
	[AwayWins] [varchar](max) NOT NULL,
	[AwayLosses] [varchar](max) NOT NULL,
	[LastTenWins] [varchar](max) NOT NULL,
	[LastTenLosses] [varchar](max) NOT NULL,
	[PointsPerGameFor] [varchar](max) NOT NULL,
	[PointsPerGameAgainst] [varchar](max) NOT NULL,
	[Streak] [varchar](max) NOT NULL,
	[GamesBack] [varchar](max) NOT NULL,
	[StreakDescription] [varchar](max) NOT NULL,
	[GlobalTeamID] [varchar](max) NOT NULL,
	[ConferenceRank] [varchar](max) NOT NULL,
	[DivisionRank] [varchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Nba_Table03]    Script Date: 1/8/2026 5:47:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Nba_Table03](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PlayerID] [varchar](max) NOT NULL,
	[SportsDataID] [varchar](max) NOT NULL,
	[Status] [varchar](max) NOT NULL,
	[TeamID] [varchar](max) NOT NULL,
	[Team] [varchar](max) NOT NULL,
	[Jersey] [varchar](max) NOT NULL,
	[PositionCategory] [varchar](max) NOT NULL,
	[Position] [varchar](max) NOT NULL,
	[FirstName] [varchar](max) NOT NULL,
	[LastName] [varchar](max) NOT NULL,
	[BirthDate] [varchar](max) NOT NULL,
	[BirthCity] [varchar](max) NOT NULL,
	[BirthState] [varchar](max) NOT NULL,
	[BirthCountry] [varchar](max) NOT NULL,
	[GlobalTeamID] [varchar](max) NOT NULL,
	[Height] [varchar](max) NOT NULL,
	[Weight] [varchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Nba_Table04]    Script Date: 1/8/2026 5:47:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Nba_Table04](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RefereeID] [varchar](max) NOT NULL,
	[Name] [varchar](max) NOT NULL,
	[Number] [varchar](max) NOT NULL,
	[Position] [varchar](max) NOT NULL,
	[College] [varchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Nba_Table05]    Script Date: 1/8/2026 5:47:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Nba_Table05](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StadiumID] [varchar](max) NOT NULL,
	[Active] [varchar](max) NOT NULL,
	[Name] [varchar](max) NOT NULL,
	[Address] [varchar](max) NOT NULL,
	[City] [varchar](max) NOT NULL,
	[State] [varchar](max) NOT NULL,
	[Zip] [varchar](max) NOT NULL,
	[Country] [varchar](max) NOT NULL,
	[Capacity] [varchar](max) NOT NULL,
	[GeoLat] [varchar](max) NOT NULL,
	[GeoLong] [varchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Nba_Table06]    Script Date: 1/8/2026 5:47:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Nba_Table06](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Season] [varchar](max) NOT NULL,
	[StartYear] [varchar](max) NOT NULL,
	[EndYear] [varchar](max) NOT NULL,
	[Description] [varchar](max) NOT NULL,
	[RegularSeasonStartDate] [varchar](max) NOT NULL,
	[PostSeasonStartDate] [varchar](max) NOT NULL,
	[SeasonType01] [varchar](max) NOT NULL,
	[ApiSeason] [varchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[find_player_by_first_and_last_name]    Script Date: 1/8/2026 5:47:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[find_player_by_first_and_last_name]
   @FirstName  VARCHAR (MAX),
    @LastName VARCHAR (MAX)
AS
BEGIN
    SELECT     [PlayerID],
     [SportsDataID],
     [Status],
     [TeamID],
     [Team],
     [Jersey],
     [PositionCategory],
     [Position] ,
     [FirstName] ,
     [LastName] ,
     [BirthDate] ,
     [BirthCity] ,
     [BirthState],
     [BirthCountry],
     [GlobalTeamID],
     [Height],
     [Weight]

    FROM Nba_Table03
    WHERE FirstName = @FirstName AND LastName = @LastName;
END
GO
/****** Object:  StoredProcedure [dbo].[find_player_by_id]    Script Date: 1/8/2026 5:47:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[find_player_by_id]
   @PlayerID   VARCHAR (MAX)

AS
BEGIN
    SELECT     [PlayerID],
     [SportsDataID],
     [Status],
     [TeamID],
     [Team],
     [Jersey],
     [PositionCategory],
     [Position] ,
     [FirstName] ,
     [LastName] ,
     [BirthDate] ,
     [BirthCity] ,
     [BirthState],
     [BirthCountry],
     [GlobalTeamID],
     [Height],
     [Weight]

    FROM Nba_Table03
    WHERE PlayerID = @PlayerID
	END
GO
/****** Object:  StoredProcedure [dbo].[find_Referee_by_id]    Script Date: 1/8/2026 5:47:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[find_Referee_by_id]
   @RefereeID   VARCHAR (MAX)

AS
BEGIN
    SELECT  
	[RefereeID],
    [Name],
    [Number],
    [Position],
    [College]
    FROM Nba_Table04
    WHERE RefereeID = @RefereeID
	END
GO
/****** Object:  StoredProcedure [dbo].[find_Referee_by_name]    Script Date: 1/8/2026 5:47:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[find_Referee_by_name]
   @Name  VARCHAR (MAX)

AS
BEGIN
    SELECT  
	[RefereeID],
    [Name],
    [Number],
    [Position],
    [College]
    FROM Nba_Table04
    WHERE Name = @Name
	END
GO
/****** Object:  StoredProcedure [dbo].[find_season]    Script Date: 1/8/2026 5:47:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[find_season]
   @Season  VARCHAR (MAX)

AS
BEGIN
    SELECT  
		[Season],
[StartYear],
[EndYear],
[Description],
[RegularSeasonStartDate],
[PostSeasonStartDate],
[SeasonType01],
[ApiSeason]
    FROM Nba_Table06
    WHERE [Season] = @Season
	END
GO
/****** Object:  StoredProcedure [dbo].[find_Stadium_by_Address]    Script Date: 1/8/2026 5:47:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[find_Stadium_by_Address]
   @Address  VARCHAR (MAX)

AS
BEGIN
    SELECT  
   [StadiumID],
   [Active],
   [Name],
   [Address],
   [City],
   [State],
   [Zip],
   [Country],
   [Capacity],
   [GeoLat],
   [GeoLong]
    FROM Nba_Table05
    WHERE Address = @Address
	END
GO
/****** Object:  StoredProcedure [dbo].[find_Stadium_by_City]    Script Date: 1/8/2026 5:47:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[find_Stadium_by_City]
   @City  VARCHAR (MAX)

AS
BEGIN
    SELECT  
   [StadiumID],
   [Active],
   [Name],
   [Address],
   [City],
   [State],
   [Zip],
   [Country],
   [Capacity],
   [GeoLat],
   [GeoLong]
    FROM Nba_Table05
    WHERE City = @City
	END
GO
/****** Object:  StoredProcedure [dbo].[find_Stadium_by_id]    Script Date: 1/8/2026 5:47:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[find_Stadium_by_id]
   @StadiumID   VARCHAR (MAX)

AS
BEGIN
    SELECT  
   [StadiumID],
   [Active],
   [Name],
   [Address],
   [City],
   [State],
   [Zip],
   [Country],
   [Capacity],
   [GeoLat],
   [GeoLong]
    FROM Nba_Table05
    WHERE StadiumID = @StadiumID
	END
GO
/****** Object:  StoredProcedure [dbo].[find_Stadium_by_name]    Script Date: 1/8/2026 5:47:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[find_Stadium_by_name]
   @Name  VARCHAR (MAX)

AS
BEGIN
    SELECT  
   [StadiumID],
   [Active],
   [Name],
   [Address],
   [City],
   [State],
   [Zip],
   [Country],
   [Capacity],
   [GeoLat],
   [GeoLong]
    FROM Nba_Table05
    WHERE Name = @Name
	END
GO
/****** Object:  StoredProcedure [dbo].[find_team_by_id]    Script Date: 1/8/2026 5:47:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[find_team_by_id]
   @TeamID    VARCHAR (MAX)

AS
BEGIN
    SELECT   TeamID,
     Keys,
       Active,
         City,
           Name,
             LeagueID,
               StadiumID,
                Conference,
                Division,
                PrimaryColor,
                SecondaryColor,
                TertiaryColor,
                 QuaternaryColor,
                WikipediaLogoUrl,
               WikipediaWordMarkUrl,
                GlobalTeamID,
                NbaDotComTeamID,
                HeadCoach
    FROM Nba_Table01
    WHERE TeamID = @TeamID
	END
GO
/****** Object:  StoredProcedure [dbo].[find_team_by_name]    Script Date: 1/8/2026 5:47:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[find_team_by_name]
   @Name    VARCHAR (MAX)

AS
BEGIN
    SELECT   TeamID,
     Keys,
       Active,
         City,
           Name,
             LeagueID,
               StadiumID,
                Conference,
                Division,
                PrimaryColor,
                SecondaryColor,
                TertiaryColor,
                 QuaternaryColor,
                WikipediaLogoUrl,
               WikipediaWordMarkUrl,
                GlobalTeamID,
                NbaDotComTeamID,
                HeadCoach
    FROM Nba_Table01
    WHERE Name = @Name
	END
GO
/****** Object:  StoredProcedure [dbo].[find_team_standings_by_name]    Script Date: 1/8/2026 5:47:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[find_team_standings_by_name]
   @Name   VARCHAR (MAX)

AS
BEGIN
    SELECT   [Season],
        [SeasonType],
         [TeamID],
		 [Keys],
            [City],
            [Name],
			[Conference],
			[Division],
            [Wins],
            [Losses],
            [Percentage],
			[ConferenceWins],
            [ConferenceLosses],
            [DivisionWins],
            [DivisionLosses],
            [HomeWins],
            [HomeLosses],
            [AwayWins],
            [AwayLosses],
            [LastTenWins],
            [LastTenLosses],
            [PointsPerGameFor],
            [PointsPerGameAgainst],
            [Streak],
            [GamesBack],
            [StreakDescription],
            [GlobalTeamID],
            [ConferenceRank],
            [DivisionRank]
    FROM Nba_Table02
    WHERE Name = @Name
	END
GO
/****** Object:  StoredProcedure [dbo].[find_team_standings_by_teamid]    Script Date: 1/8/2026 5:47:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[find_team_standings_by_teamid]
   @TeamID    VARCHAR (MAX)

AS
BEGIN
    SELECT   [Season],
        [SeasonType],
         [TeamID],
		 [Keys],
            [City],
            [Name],
			[Conference],
			[Division],
            [Wins],
            [Losses],
            [Percentage],
			[ConferenceWins],
            [ConferenceLosses],
            [DivisionWins],
            [DivisionLosses],
            [HomeWins],
            [HomeLosses],
            [AwayWins],
            [AwayLosses],
            [LastTenWins],
            [LastTenLosses],
            [PointsPerGameFor],
            [PointsPerGameAgainst],
            [Streak],
            [GamesBack],
            [StreakDescription],
            [GlobalTeamID],
            [ConferenceRank],
            [DivisionRank]
    FROM Nba_Table02
    WHERE TeamID = @TeamID
	END
GO
/****** Object:  StoredProcedure [dbo].[insert_players]    Script Date: 1/8/2026 5:47:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[insert_players]


		@PlayerID VARCHAR (MAX),
		 @SportsDataID VARCHAR (MAX),
		 @Status VARCHAR (MAX),
		 @TeamID VARCHAR (MAX),
		 @Team VARCHAR (MAX),
		 @Jersey VARCHAR (MAX),
		 @PositionCategory VARCHAR (MAX),
		 @Position VARCHAR (MAX),
		 @FirstName VARCHAR (MAX),
		 @LastName VARCHAR (MAX),
		 @BirthDate VARCHAR (MAX),
		 @BirthCity VARCHAR (MAX),
		 @BirthState VARCHAR (MAX),
		 @BirthCountry VARCHAR (MAX),
		 @GlobalTeamID VARCHAR (MAX),
		 @Height VARCHAR (MAX),
		 @Weight VARCHAR (MAX)
	

	AS
	BEGIN
			 SET NOCOUNT ON;

    -- Check if record already exists
    IF EXISTS (
        SELECT 1
        FROM Nba_Table03
        WHERE PlayerID = @PlayerID
          AND SportsDataID = @SportsDataID
          AND Status = @Status
    )
    BEGIN
        -- Record already exists, return message
        SELECT 'EXISTS' AS Result;
        RETURN;
    END
		INSERT INTO Nba_Table03
		( PlayerID,
		 SportsDataID,
		 Status,
		 TeamID,
		 Team,
		 Jersey,
		 PositionCategory,
		 Position,
		 FirstName,
		 LastName,
		 BirthDate,
		 BirthCity,
		BirthState,
		 BirthCountry,
		 GlobalTeamID,
		 Height,
		 Weight )
		VALUES (     @PlayerID,
		 @SportsDataID,
		 @Status,
		 @TeamID,
		 @Team,
		 @Jersey,
		 @PositionCategory,
		 @Position,
		 @FirstName,
		 @LastName,
		 @BirthDate,
		 @BirthCity,
		 @BirthState,
		 @BirthCountry,
		 @GlobalTeamID,
		 @Height,
		 @Weight  )
    SELECT 'INSERTED' AS Result;
END;
GO
/****** Object:  StoredProcedure [dbo].[insert_Referee]    Script Date: 1/8/2026 5:47:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[insert_Referee]
   
	@RefereeID VARCHAR (MAX),
    @Name VARCHAR (MAX),
    @Number VARCHAR (MAX),
    @Position VARCHAR (MAX),
   @College VARCHAR (MAX)

	AS
	BEGIN
		 SET NOCOUNT ON;

    -- Check if record already exists
    IF EXISTS (
        SELECT 1
        FROM Nba_Table04
        WHERE RefereeID = @RefereeID
          AND Name = @Name
          AND Number = @Number
    )
    BEGIN
        -- Record already exists, return message
        SELECT 'EXISTS' AS Result;
        RETURN;
    END
		INSERT INTO Nba_Table04
		(    	[RefereeID],
    [Name],
    [Number],
    [Position],
    [College])
		VALUES (	@RefereeID,
    @Name,
    @Number,
    @Position,
    @College )
    SELECT 'INSERTED' AS Result;
END;
GO
/****** Object:  StoredProcedure [dbo].[insert_season]    Script Date: 1/8/2026 5:47:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[insert_season]

            @Season VARCHAR (MAX),
            @StartYear VARCHAR (MAX),
            @EndYear VARCHAR (MAX),
            @Description VARCHAR (MAX),
            @RegularSeasonStartDate VARCHAR (MAX),
            @PostSeasonStartDate VARCHAR (MAX),
            @SeasonType01 VARCHAR (MAX),
            @ApiSeason VARCHAR (MAX)

	AS
	BEGIN
		 SET NOCOUNT ON;

    -- Check if record already exists
    IF EXISTS (
        SELECT 1
        FROM Nba_Table06
        WHERE Season = @Season
          AND StartYear = @StartYear
          AND EndYear = @EndYear
    )
    BEGIN
        -- Record already exists, return message
        SELECT 'EXISTS' AS Result;
        RETURN;
    END
		INSERT INTO Nba_Table06
		([Season],
[StartYear],
[EndYear],
[Description],
[RegularSeasonStartDate],
[PostSeasonStartDate],
[SeasonType01],
[ApiSeason])
		VALUES (@Season,
@StartYear,
@EndYear,
@Description,
@RegularSeasonStartDate,
@PostSeasonStartDate,
@SeasonType01,
@ApiSeason)
    SELECT 'INSERTED' AS Result;
END;
GO
/****** Object:  StoredProcedure [dbo].[insert_Stadium]    Script Date: 1/8/2026 5:47:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[insert_Stadium]

	    @StadiumID VARCHAR (MAX),
    @Active VARCHAR (MAX),
    @Name VARCHAR (MAX),
    @Address VARCHAR (MAX),
    @City VARCHAR (MAX),
    @State VARCHAR (MAX),
    @Zip VARCHAR (MAX),
    @Country VARCHAR (MAX),
    @Capacity VARCHAR (MAX),
    @GeoLat VARCHAR (MAX),
    @GeoLong VARCHAR (MAX)	

	AS
	BEGIN
	 SET NOCOUNT ON;

    -- Check if record already exists
    IF EXISTS (
        SELECT 1
        FROM Nba_Table05
        WHERE StadiumID = @StadiumID
          AND Active = @Active
          AND Name = @Name
    )
    BEGIN
        -- Record already exists, return message
        SELECT 'EXISTS' AS Result;
        RETURN;
    END
		INSERT INTO Nba_Table05
		(    [StadiumID],
    [Active],
    [Name],
    [Address],
    [City],
    [State],
    [Zip],
    [Country],
    [Capacity],
    [GeoLat] ,
    [GeoLong] )
		VALUES (@StadiumID,
    @Active,
    @Name,
    @Address,
    @City,
    @State,
    @Zip,
    @Country,
    @Capacity,
    @GeoLat ,
    @GeoLong )
	    SELECT 'INSERTED' AS Result;
END;
GO
/****** Object:  StoredProcedure [dbo].[insert_team_all]    Script Date: 1/8/2026 5:47:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[insert_team_all]
	
       @TeamID VARCHAR (MAX),
     @Keys VARCHAR (MAX),
    @Active VARCHAR (MAX),
      @City VARCHAR (MAX),
      @Name VARCHAR (MAX),
       @LeagueID VARCHAR (MAX),
       @StadiumID VARCHAR (MAX),
          @Conference VARCHAR (MAX),
         @Division VARCHAR (MAX),
           @PrimaryColor VARCHAR (MAX),
        @SecondaryColor VARCHAR (MAX),
            @TertiaryColor VARCHAR (MAX), 
			@QuaternaryColor VARCHAR (MAX),
         @WikipediaLogoUrl VARCHAR (MAX),
           @WikipediaWordMarkUrl VARCHAR (MAX),
        @GlobalTeamID VARCHAR (MAX),
        @NbaDotComTeamID VARCHAR (MAX),
         @HeadCoach VARCHAR (MAX)


























	AS
	BEGIN
	 SET NOCOUNT ON;

    -- Check if record already exists
    IF EXISTS (
        SELECT 1
        FROM Nba_Table01
        WHERE TeamID = @TeamID
          AND Active = @Active
          AND Name = @Name
    )
    BEGIN
        -- Record already exists, return message
        SELECT 'EXISTS' AS Result;
        RETURN;
    END
		INSERT INTO Nba_Table01
		(        TeamID,
     Keys,
    Active,
      City,
      Name,
       LeagueID,
       StadiumID,
         Conference,
         Division,
           PrimaryColor,
        SecondaryColor,
            TertiaryColor, 
			QuaternaryColor,
         WikipediaLogoUrl,
           WikipediaWordMarkUrl,
        GlobalTeamID,
        NbaDotComTeamID,
         HeadCoach )
		VALUES (       @TeamID,
     @Keys,
    @Active,
      @City,
      @Name,
       @LeagueID,
       @StadiumID,
          @Conference,
         @Division,
           @PrimaryColor,
        @SecondaryColor,
            @TertiaryColor, 
			@QuaternaryColor,
         @WikipediaLogoUrl,
           @WikipediaWordMarkUrl,
        @GlobalTeamID,
        @NbaDotComTeamID,
         @HeadCoach )
	    SELECT 'INSERTED' AS Result;
END;
GO
/****** Object:  StoredProcedure [dbo].[insert_team_standings]    Script Date: 1/8/2026 5:47:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[insert_team_standings]
	
    @Season VARCHAR (MAX),
     @SeasonType VARCHAR (MAX),
      @TeamID VARCHAR (MAX),
       @Key VARCHAR (MAX),
         @City VARCHAR (MAX),
      @Name VARCHAR (MAX),
       @Conference VARCHAR (MAX),
      @Division VARCHAR (MAX),
         @Wins VARCHAR (MAX),
           @Losses VARCHAR (MAX),
           @Percentage VARCHAR (MAX),
            @ConferenceWins VARCHAR (MAX),
            @ConferenceLosses VARCHAR (MAX),
          @DivisionWins VARCHAR (MAX),
           @DivisionLosses VARCHAR (MAX),
           @HomeWins VARCHAR (MAX),
         @HomeLosses VARCHAR (MAX),
          @AwayWins VARCHAR (MAX),
          @AwayLosses VARCHAR (MAX),
           @LastTenWins VARCHAR (MAX),
          @LastTenLosses VARCHAR (MAX),
          @PointsPerGameFor VARCHAR (MAX),
         @PointsPerGameAgainst VARCHAR (MAX),
		 @Streak VARCHAR (MAX),
		 @GamesBack VARCHAR (MAX),
         @StreakDescription VARCHAR (MAX),
         @GlobalTeamID VARCHAR (MAX),
       @ConferenceRank VARCHAR (MAX),
       @DivisionRank VARCHAR (MAX)
	AS
	BEGIN
 SET NOCOUNT ON;

    -- Check if record already exists
    IF EXISTS (
        SELECT 1
        FROM Nba_Table02
        WHERE Season = @Season
          AND SeasonType = @SeasonType
          AND TeamID = @TeamID
    )
    BEGIN
        -- Record already exists, return message
        SELECT 'EXISTS' AS Result;
        RETURN;
    END
		INSERT INTO Nba_Table02
		(  Season,
     SeasonType,
      TeamID,
       Keys,
         City,
      Name,
       Conference,
      Division,
         Wins,
           Losses,
           Percentage,
           ConferenceWins,
            ConferenceLosses,
          DivisionWins,
           DivisionLosses,
           HomeWins,
         HomeLosses,
          AwayWins,
          AwayLosses,
           LastTenWins,
          LastTenLosses,
          PointsPerGameFor,
         PointsPerGameAgainst,
		 Streak,
		 GamesBack,
         StreakDescription,
         GlobalTeamID,
      ConferenceRank,
       DivisionRank)
		VALUES ( @Season,
     @SeasonType,
      @TeamID,
       @Key,
         @City,
      @Name,
       @Conference,
      @Division,
         @Wins,
           @Losses,
           @Percentage,
            @ConferenceWins,
            @ConferenceLosses,
          @DivisionWins,
           @DivisionLosses,
           @HomeWins,
         @HomeLosses,
          @AwayWins,
          @AwayLosses,
           @LastTenWins,
          @LastTenLosses,
          @PointsPerGameFor,
         @PointsPerGameAgainst,
		 @Streak,
		 @GamesBack,
         @StreakDescription,
         @GlobalTeamID,
       @ConferenceRank,
       @DivisionRank)
    SELECT 'INSERTED' AS Result;
END;
GO
/****** Object:  StoredProcedure [dbo].[view_all_players]    Script Date: 1/8/2026 5:47:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[view_all_players]
AS
BEGIN
    SELECT * FROM [dbo].[Nba_Table03];
END;
GO
/****** Object:  StoredProcedure [dbo].[view_all_Referee]    Script Date: 1/8/2026 5:47:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[view_all_Referee]
AS
BEGIN
    SELECT * FROM [dbo].[Nba_Table04];
END;
GO
/****** Object:  StoredProcedure [dbo].[view_all_Stadium]    Script Date: 1/8/2026 5:47:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[view_all_Stadium]
AS
BEGIN
    SELECT * FROM [dbo].[Nba_Table05];
END;
GO
/****** Object:  StoredProcedure [dbo].[view_all_team_standing]    Script Date: 1/8/2026 5:47:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[view_all_team_standing]
AS
BEGIN
    SELECT * FROM [dbo].[Nba_Table02];
END;
GO
/****** Object:  StoredProcedure [dbo].[view_season]    Script Date: 1/8/2026 5:47:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[view_season]
AS
BEGIN
    SELECT * FROM [dbo].[Nba_Table06];
END;
GO
/****** Object:  StoredProcedure [dbo].[view_team_names]    Script Date: 1/8/2026 5:47:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[view_team_names]
AS
BEGIN
    SELECT Name FROM Nba_Table01;
END;
GO
