USE [User_Database]
GO
/****** Object:  Table [dbo].[User_Table]    Script Date: 1/8/2026 5:26:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User_Table](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](max) NOT NULL,
	[firstname] [varchar](max) NOT NULL,
	[lastname] [varchar](max) NOT NULL,
	[birthdate] [varchar](max) NOT NULL,
	[email] [varchar](max) NOT NULL,
	[phonenumber] [varchar](max) NOT NULL,
	[password] [varchar](max) NOT NULL,
	[longitude] [varchar](max) NOT NULL,
	[latitude] [varchar](max) NOT NULL,
	[creation_date] [varchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[delete_user_using_email]    Script Date: 1/8/2026 5:26:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[delete_user_using_email]
    @email NVARCHAR(MAX)

AS
BEGIN
    SET NOCOUNT ON;

    DELETE FROM [dbo].[User_Table]
    WHERE email = @email;

    SELECT @@ROWCOUNT AS RowsDeleted;
END
GO
/****** Object:  StoredProcedure [dbo].[delete_user_using_phonenumber]    Script Date: 1/8/2026 5:26:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[delete_user_using_phonenumber]
    @phonenumber NVARCHAR(MAX)

AS
BEGIN
    SET NOCOUNT ON;

    DELETE FROM [dbo].[User_Table]
    WHERE phonenumber = @phonenumber;

    SELECT @@ROWCOUNT AS RowsDeleted;
END
GO
/****** Object:  StoredProcedure [dbo].[delete_user_using_username]    Script Date: 1/8/2026 5:26:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[delete_user_using_username]
    @username NVARCHAR(MAX)

AS
BEGIN
    SET NOCOUNT ON;

    DELETE FROM [dbo].[User_Table]
    WHERE username = @username;

    SELECT @@ROWCOUNT AS RowsDeleted;
END
GO
/****** Object:  StoredProcedure [dbo].[find_email_using_email]    Script Date: 1/8/2026 5:26:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[find_email_using_email]
	@email NVARCHAR(max)
	AS
	BEGIN
    SELECT [email]
    FROM [dbo].[User_Table]
    WHERE [email] = @email;
	END
GO
/****** Object:  StoredProcedure [dbo].[find_email_using_username]    Script Date: 1/8/2026 5:26:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[find_email_using_username]
	@username NVARCHAR(max)
	AS
	BEGIN
    SELECT [email]
    FROM [dbo].[User_Table]
    WHERE [username] = @username;
	END
GO
/****** Object:  StoredProcedure [dbo].[find_password_using_email]    Script Date: 1/8/2026 5:26:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[find_password_using_email]
	@email NVARCHAR(max)
	AS
	BEGIN
    SELECT [password]
    FROM [dbo].[User_Table]
    WHERE [email] = @email;
	END
GO
/****** Object:  StoredProcedure [dbo].[find_password_using_username]    Script Date: 1/8/2026 5:26:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[find_password_using_username]
	@username NVARCHAR(max)
	AS
	BEGIN
    SELECT [password]
    FROM [dbo].[User_Table]
    WHERE [username] = @username;
	END
GO
/****** Object:  StoredProcedure [dbo].[find_phonenumber_using_email]    Script Date: 1/8/2026 5:26:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[find_phonenumber_using_email]
	@email NVARCHAR(max)
	AS
	BEGIN
    SELECT [phonenumber]
    FROM [dbo].[User_Table]
    WHERE [email] = @email;
	END
GO
/****** Object:  StoredProcedure [dbo].[find_phonenumber_using_phonenumber]    Script Date: 1/8/2026 5:26:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[find_phonenumber_using_phonenumber]
	@phonenumber NVARCHAR(max)
	AS
	BEGIN
    SELECT [phonenumber]
    FROM [dbo].[User_Table]
    WHERE [phonenumber] = @phonenumber;
	END
GO
/****** Object:  StoredProcedure [dbo].[find_phonenumber_using_username]    Script Date: 1/8/2026 5:26:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[find_phonenumber_using_username]
	@username NVARCHAR(max)
	AS
	BEGIN
    SELECT [phonenumber]
    FROM [dbo].[User_Table]
    WHERE [username] = @username;
	END
GO
/****** Object:  StoredProcedure [dbo].[find_user_location_using_email]    Script Date: 1/8/2026 5:26:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[find_user_location_using_email]
    @email NVARCHAR(MAX)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT [latitude], [longitude]
    FROM [dbo].[User_Table]
    WHERE [email] = @email;
END
GO
/****** Object:  StoredProcedure [dbo].[find_user_location_using_username]    Script Date: 1/8/2026 5:26:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[find_user_location_using_username]
    @username NVARCHAR(MAX)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT [latitude], [longitude]
    FROM [dbo].[User_Table]
    WHERE [username] = @username;
END
GO
/****** Object:  StoredProcedure [dbo].[find_username_password]    Script Date: 1/8/2026 5:26:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[find_username_password]
    @username NVARCHAR(max),
    @password NVARCHAR(max)
AS
BEGIN
    SELECT [username], [password]
    FROM [dbo].[User_Table]
    WHERE [username] = @username AND [password] = @password;
END
GO
/****** Object:  StoredProcedure [dbo].[find_username_using_email]    Script Date: 1/8/2026 5:26:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[find_username_using_email]
	@email NVARCHAR(max)
	AS
	BEGIN
    SELECT [username]
    FROM [dbo].[User_Table]
    WHERE [username] = @email;
	END
GO
/****** Object:  StoredProcedure [dbo].[find_username_using_username]    Script Date: 1/8/2026 5:26:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[find_username_using_username]
	@username NVARCHAR(max)
	AS
	BEGIN
    SELECT [username]
    FROM [dbo].[User_Table]
    WHERE [username] = @username;
	END
GO
/****** Object:  StoredProcedure [dbo].[find_usernmae_using_username]    Script Date: 1/8/2026 5:26:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[find_usernmae_using_username]
	@username NVARCHAR(max)
	AS
	BEGIN
    SELECT [username]
    FROM [dbo].[User_Table]
    WHERE [username] = @username;
	END
GO
/****** Object:  StoredProcedure [dbo].[insert_user]    Script Date: 1/8/2026 5:26:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[insert_user]
	
    @username     VARCHAR (MAX),
    @firstname     VARCHAR (MAX),
    @lastname      VARCHAR (MAX),
    @birthdate     VARCHAR (MAX),
    @email      VARCHAR (MAX),
    @phonenumber   VARCHAR (MAX),
    @password    VARCHAR (MAX),
    @longitude     VARCHAR (MAX),
    @latitude      VARCHAR (MAX),
    @creation_date VARCHAR (MAX)








AS
BEGIN
    INSERT INTO User_Table(username,
    firstname ,
    lastname  ,
    birthdate ,
    email     ,
    phonenumber ,
    password   ,
    longitude  ,
    latitude   ,
    creation_date )
    VALUES ( @username,
    @firstname ,
    @lastname  ,
    @birthdate ,
    @email     ,
    @phonenumber ,
    @password   ,
    @longitude  ,
    @latitude   ,
    @creation_date )
END
GO
/****** Object:  StoredProcedure [dbo].[update_email_using_email]    Script Date: 1/8/2026 5:26:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[update_email_using_email]
    @email NVARCHAR(MAX),
	@email01 NVARCHAR(MAX)
    

AS
BEGIN
    SET NOCOUNT ON;

    UPDATE [dbo].[User_Table]
    SET [email] = @email
    WHERE email=@email01
END
GO
/****** Object:  StoredProcedure [dbo].[update_email_using_username]    Script Date: 1/8/2026 5:26:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[update_email_using_username]
    @username NVARCHAR(MAX),
	@email NVARCHAR(MAX)
    

AS
BEGIN
    SET NOCOUNT ON;

    UPDATE [dbo].[User_Table]
    SET [username] = @username
    WHERE email=@email
END
GO
/****** Object:  StoredProcedure [dbo].[update_password_using_email]    Script Date: 1/8/2026 5:26:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[update_password_using_email]
    @email NVARCHAR(MAX),
	@password NVARCHAR(MAX)
    

AS
BEGIN
    SET NOCOUNT ON;

    UPDATE [dbo].[User_Table]
    SET [email] = @email
    WHERE password=@password
	end
GO
/****** Object:  StoredProcedure [dbo].[update_password_using_phonenumber]    Script Date: 1/8/2026 5:26:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[update_password_using_phonenumber]
    @username NVARCHAR(MAX),
	@phonenumber NVARCHAR(MAX)
    

AS
BEGIN
    SET NOCOUNT ON;

    UPDATE [dbo].[User_Table]
    SET [username] = @username
    WHERE phonenumber=@phonenumber
	end
GO
/****** Object:  StoredProcedure [dbo].[update_password_using_username]    Script Date: 1/8/2026 5:26:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[update_password_using_username]
    @username NVARCHAR(MAX),
	@password NVARCHAR(MAX)
    

AS
BEGIN
    SET NOCOUNT ON;

    UPDATE [dbo].[User_Table]
    SET [username] = @username
    WHERE password=@password
	end
GO
/****** Object:  StoredProcedure [dbo].[update_phonenumber_using_email]    Script Date: 1/8/2026 5:26:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[update_phonenumber_using_email]
    @email NVARCHAR(MAX),
	@phonenumber NVARCHAR(MAX)
    

AS
BEGIN
    SET NOCOUNT ON;

    UPDATE [dbo].[User_Table]
    SET [phonenumber] = @phonenumber
    WHERE email=@email
END
GO
/****** Object:  StoredProcedure [dbo].[update_phonenumber_using_username]    Script Date: 1/8/2026 5:26:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[update_phonenumber_using_username]
    @username NVARCHAR(MAX),
	@phonenumber NVARCHAR(MAX)
    

AS
BEGIN
    SET NOCOUNT ON;

    UPDATE [dbo].[User_Table]
    SET [phonenumber] = @phonenumber
    WHERE username=@username
END
GO
/****** Object:  StoredProcedure [dbo].[update_user_location_using_email]    Script Date: 1/8/2026 5:26:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[update_user_location_using_email]
    @Email NVARCHAR(MAX),
    @Latitude NVARCHAR(MAX),
    @Longitude NVARCHAR(MAX)
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE [dbo].[User_Table]
    SET [latitude] = @Latitude,
        [longitude] = @Longitude
    WHERE [email] = @Email;
END
GO
/****** Object:  StoredProcedure [dbo].[update_user_location_using_name]    Script Date: 1/8/2026 5:26:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[update_user_location_using_name]
    @firstname NVARCHAR(MAX),
	@lastname nvarchar(max),
    @Latitude NVARCHAR(MAX),
    @Longitude NVARCHAR(MAX)
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE [dbo].[User_Table]
    SET [latitude] = @Latitude,
        [longitude] = @Longitude
    WHERE [firstname] = @firstname and lastname=@lastname
END
GO
/****** Object:  StoredProcedure [dbo].[update_user_location_using_phonenumber]    Script Date: 1/8/2026 5:26:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[update_user_location_using_phonenumber]

    @phonenumber NVARCHAR(MAX),
    @Latitude NVARCHAR(MAX),
    @Longitude NVARCHAR(MAX)

AS
BEGIN
    SET NOCOUNT ON;

    UPDATE [dbo].[User_Table]
    SET [latitude] = @Latitude,
        [longitude] = @Longitude
    WHERE phonenumber=@phonenumber
END
GO
/****** Object:  StoredProcedure [dbo].[update_user_location_using_username]    Script Date: 1/8/2026 5:26:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[update_user_location_using_username]

    @username NVARCHAR(MAX),
    @Latitude NVARCHAR(MAX),
    @Longitude NVARCHAR(MAX)

AS
BEGIN
    SET NOCOUNT ON;

    UPDATE [dbo].[User_Table]
    SET [latitude] = @Latitude,
        [longitude] = @Longitude
    WHERE username=@username
END
GO
/****** Object:  StoredProcedure [dbo].[update_username_using_email]    Script Date: 1/8/2026 5:26:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[update_username_using_email]
    @email NVARCHAR(MAX),
	@username NVARCHAR(MAX)
    

AS
BEGIN
    SET NOCOUNT ON;

    UPDATE [dbo].[User_Table]
    SET [email] = @email
    WHERE username=@username
END
GO
/****** Object:  StoredProcedure [dbo].[update_username_using_phonenumber]    Script Date: 1/8/2026 5:26:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[update_username_using_phonenumber]
    @username NVARCHAR(MAX),
	@phonenumber NVARCHAR(MAX)
    

AS
BEGIN
    SET NOCOUNT ON;

    UPDATE [dbo].[User_Table]
    SET [username] = @username
    WHERE phonenumber=@phonenumber
	end
GO
/****** Object:  StoredProcedure [dbo].[update_username_using_username]    Script Date: 1/8/2026 5:26:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[update_username_using_username]
    @username NVARCHAR(MAX),
	@username01 NVARCHAR(MAX)
    

AS
BEGIN
    SET NOCOUNT ON;

    UPDATE [dbo].[User_Table]
    SET [username] = @username
    WHERE username=@username01
	end
GO
/****** Object:  StoredProcedure [dbo].[view_all_emails]    Script Date: 1/8/2026 5:26:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[view_all_emails]
AS
BEGIN
    SET NOCOUNT ON;
    SELECT [email]
    FROM [dbo].[User_Table];
END;
GO
/****** Object:  StoredProcedure [dbo].[view_all_passwords]    Script Date: 1/8/2026 5:26:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[view_all_passwords]
AS
BEGIN
    SET NOCOUNT ON;
    SELECT [password]
    FROM [dbo].[User_Table];
END;
GO
/****** Object:  StoredProcedure [dbo].[view_all_phonenumber]    Script Date: 1/8/2026 5:26:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[view_all_phonenumber]
AS
BEGIN
    SET NOCOUNT ON;
    SELECT [phonenumber]
    FROM [dbo].[User_Table];
END;
GO
/****** Object:  StoredProcedure [dbo].[view_all_uernames]    Script Date: 1/8/2026 5:26:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[view_all_uernames]
AS
BEGIN
    SET NOCOUNT ON;
    SELECT [username]
    FROM [dbo].[User_Table];
END;
GO
/****** Object:  StoredProcedure [dbo].[view_user_table]    Script Date: 1/8/2026 5:26:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[view_user_table]
AS
BEGIN
    SELECT * FROM [dbo].[User_Table];
END;
GO
