USE [master]
GO
/****** Object:  Database [Chat_Database]    Script Date: 2/28/2026 3:42:46 PM ******/
CREATE DATABASE [Chat_Database]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Chat_Database', FILENAME = N'C:\Users\calle\AppData\Local\Microsoft\VisualStudio\SSDT\Chat_Database.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Chat_Database_log', FILENAME = N'C:\Users\calle\AppData\Local\Microsoft\VisualStudio\SSDT\Chat_Database.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Chat_Database].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Chat_Database]
GO
/****** Object:  Table [dbo].[Chat_Table]    Script Date: 2/28/2026 3:42:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Chat_Table](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](max) NOT NULL,
	[name] [varchar](max) NOT NULL,
	[text] [varchar](max) NOT NULL,
	[date] [varchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[insert_chat]    Script Date: 2/28/2026 3:42:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[insert_chat]
	  @username VARCHAR(MAX),
  @name VARCHAR(MAX),
    @text VARCHAR(MAX),
  @date VARCHAR(MAX)


AS
BEGIN
    INSERT INTO Chat_Table (username,
    name,
	text,
    date )
    VALUES ( @username,
    @name,
	@text,
    @date )
END
GO
/****** Object:  StoredProcedure [dbo].[view_chat]    Script Date: 2/28/2026 3:42:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[view_chat]
AS
BEGIN
    SELECT * FROM Chat_Table;
END;
GO
/****** Object:  StoredProcedure [dbo].[view_latest_message]    Script Date: 2/28/2026 3:42:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[view_latest_message]
AS
BEGIN
    SELECT TOP 5 *
    FROM [dbo].[Chat_Table]
    ORDER BY [Id] DESC;  
END;
GO
USE [master]
GO
