USE [master]
GO
/****** Object:  Database [Clients01_Database]    Script Date: 2/28/2026 3:46:20 PM ******/
CREATE DATABASE [Clients01_Database]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Clients01_Database', FILENAME = N'C:\Users\calle\AppData\Local\Microsoft\VisualStudio\SSDT\Clients01_Database.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Clients01_Database_log', FILENAME = N'C:\Users\calle\AppData\Local\Microsoft\VisualStudio\SSDT\Clients01_Database.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Clients01_Database].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Clients01_Database]
GO
/****** Object:  Table [dbo].[Clients_Table01]    Script Date: 2/28/2026 3:46:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clients_Table01](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[client_name] [varchar](max) NOT NULL,
	[client_email_key] [varchar](max) NOT NULL,
	[client_api_key] [varchar](max) NOT NULL,
	[client_email_address] [varchar](max) NOT NULL,
	[client_phonenumber] [varchar](max) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[delete_client_using_email]    Script Date: 2/28/2026 3:46:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[delete_client_using_email]
    @client_email NVARCHAR(MAX)

AS
BEGIN
    SET NOCOUNT ON;

    DELETE FROM [dbo].[Clients_Table01]
    WHERE client_email_address = @client_email;

    SELECT @@ROWCOUNT AS RowsDeleted;
END
GO
/****** Object:  StoredProcedure [dbo].[delete_client_using_name]    Script Date: 2/28/2026 3:46:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[delete_client_using_name]
    @client_name NVARCHAR(MAX)

AS
BEGIN
    SET NOCOUNT ON;

    DELETE FROM [dbo].[Clients_Table01]
    WHERE client_name = @client_name;

    SELECT @@ROWCOUNT AS RowsDeleted;
END
GO
/****** Object:  StoredProcedure [dbo].[find_client_email_by_email]    Script Date: 2/28/2026 3:46:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[find_client_email_by_email]
	@client_email_address NVARCHAR(max)
	AS
	BEGIN
    SELECT [client_email_address]
    FROM [dbo].[Clients_Table01]
    WHERE [client_email_address] = @client_email_address;
	END
GO
/****** Object:  StoredProcedure [dbo].[find_client_email_by_name]    Script Date: 2/28/2026 3:46:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
	CREATE PROCEDURE [dbo].[find_client_email_by_name]
	@client_name NVARCHAR(max)
	AS
	BEGIN
    SELECT [client_email_address]
    FROM [dbo].[Clients_Table01]
    WHERE [client_name] = @client_name;
	END
GO
/****** Object:  StoredProcedure [dbo].[find_client_email_by_phonenumber]    Script Date: 2/28/2026 3:46:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
	CREATE PROCEDURE [dbo].[find_client_email_by_phonenumber]
	@client_phonenumber NVARCHAR(max)
	AS
	BEGIN
    SELECT [client_email_address]
    FROM [dbo].[Clients_Table01]
    WHERE [client_phonenumber] = @client_phonenumber;
	END
GO
/****** Object:  StoredProcedure [dbo].[find_client_emailkey_by_name]    Script Date: 2/28/2026 3:46:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
	CREATE PROCEDURE [dbo].[find_client_emailkey_by_name]
	@client_name NVARCHAR(max)
	AS
	BEGIN
    SELECT [client_email_key]
    FROM [dbo].[Clients_Table01]
    WHERE [client_name] = @client_name;
	END
GO
/****** Object:  StoredProcedure [dbo].[find_client_name_by_email]    Script Date: 2/28/2026 3:46:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
	CREATE PROCEDURE [dbo].[find_client_name_by_email]
	@client_email NVARCHAR(max)
	AS
	BEGIN
    SELECT [client_name]
    FROM [dbo].[Clients_Table01]
    WHERE [client_email_address] = @client_email;
	END
GO
/****** Object:  StoredProcedure [dbo].[find_client_name_by_name]    Script Date: 2/28/2026 3:46:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[find_client_name_by_name]
	@client_name NVARCHAR(max)
	AS
	BEGIN
    SELECT [client_name]
    FROM [dbo].[Clients_Table01]
    WHERE [client_name] = @client_name;
	END
GO
/****** Object:  StoredProcedure [dbo].[find_client_name_by_phonenumber]    Script Date: 2/28/2026 3:46:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
	CREATE PROCEDURE [dbo].[find_client_name_by_phonenumber]
	@client_phonenumber NVARCHAR(max)
	AS
	BEGIN
    SELECT [client_name]
    FROM [dbo].[Clients_Table01]
    WHERE [client_phonenumber] = @client_phonenumber;
	END
GO
/****** Object:  StoredProcedure [dbo].[find_client_phonenumber_by_email]    Script Date: 2/28/2026 3:46:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
	CREATE PROCEDURE [dbo].[find_client_phonenumber_by_email]
	@client_email NVARCHAR(max)
	AS
	BEGIN
    SELECT [client_phonenumber]
    FROM [dbo].[Clients_Table01]
    WHERE [client_email_address] = @client_email;
	END
GO
/****** Object:  StoredProcedure [dbo].[find_client_phonenumber_by_name]    Script Date: 2/28/2026 3:46:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
	CREATE PROCEDURE [dbo].[find_client_phonenumber_by_name]
	@client_name NVARCHAR(max)
	AS
	BEGIN
    SELECT [client_phonenumber]
    FROM [dbo].[Clients_Table01]
    WHERE [client_name] = @client_name;
	END
GO
/****** Object:  StoredProcedure [dbo].[find_client_phonenumber_by_phonenumber]    Script Date: 2/28/2026 3:46:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[find_client_phonenumber_by_phonenumber]
	@client_phonenumber NVARCHAR(max)
	AS
	BEGIN
    SELECT [client_phonenumber]
    FROM [dbo].[Clients_Table01]
    WHERE [client_phonenumber] = @client_phonenumber;
	END
GO
/****** Object:  StoredProcedure [dbo].[insert_client]    Script Date: 2/28/2026 3:46:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[insert_client]

	@client_name VARCHAR (MAX),
	@client_email_key VARCHAR (MAX),
	@client_api_key VARCHAR (MAX),
	@client_email_address VARCHAR (MAX),
	@client_phonenumber VARCHAR (MAX)

AS
BEGIN
    INSERT INTO Clients_Table01
    (
	client_name,
	client_email_key,
	client_api_key,
	client_email_address,
	client_phonenumber
    )
    VALUES 
    (
	@client_name,
	@client_email_key,
	@client_api_key,
	@client_email_address,
	@client_phonenumber
)
end
GO
/****** Object:  StoredProcedure [dbo].[update_clients_email_using_email]    Script Date: 2/28/2026 3:46:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[update_clients_email_using_email]
    @client_email NVARCHAR(MAX),
@client_email01 NVARCHAR(MAX)
    

AS
BEGIN
    SET NOCOUNT ON;

    UPDATE [dbo].[Clients_Table01]
    SET [client_email_address] = @client_email01
    WHERE client_email_address=@client_email
	end
GO
/****** Object:  StoredProcedure [dbo].[update_clients_email_using_name]    Script Date: 2/28/2026 3:46:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[update_clients_email_using_name]
    @client_email NVARCHAR(MAX),
@client_name NVARCHAR(MAX)
    

AS
BEGIN
    SET NOCOUNT ON;

    UPDATE [dbo].[Clients_Table01]
    SET [client_email_address] = @client_email
    WHERE client_name=@client_name
	end
GO
/****** Object:  StoredProcedure [dbo].[update_clients_email_using_phonenumber]    Script Date: 2/28/2026 3:46:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[update_clients_email_using_phonenumber]
    @client_email NVARCHAR(MAX),
@client_phoneumber NVARCHAR(MAX)
    

AS
BEGIN
    SET NOCOUNT ON;

    UPDATE [dbo].[Clients_Table01]
    SET [client_email_address] = @client_email
    WHERE client_phonenumber=@client_phoneumber
	end
GO
/****** Object:  StoredProcedure [dbo].[update_clients_name_using_email]    Script Date: 2/28/2026 3:46:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[update_clients_name_using_email]
    @client_name NVARCHAR(MAX),
@client_email NVARCHAR(MAX)
    

AS
BEGIN
    SET NOCOUNT ON;

    UPDATE [dbo].[Clients_Table01]
    SET [client_name] = @client_name
    WHERE client_email_address=@client_email
	end
GO
/****** Object:  StoredProcedure [dbo].[update_clients_name_using_name]    Script Date: 2/28/2026 3:46:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[update_clients_name_using_name]
    @client_name NVARCHAR(MAX),
@client_name01 NVARCHAR(MAX)
    

AS
BEGIN
    SET NOCOUNT ON;

    UPDATE [dbo].[Clients_Table01]
    SET [client_name] = @client_name01
    WHERE client_name=@client_name
	end
GO
/****** Object:  StoredProcedure [dbo].[update_clients_name_using_phonenumber]    Script Date: 2/28/2026 3:46:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[update_clients_name_using_phonenumber]
    @client_name NVARCHAR(MAX),
@client_phonumber NVARCHAR(MAX)
    

AS
BEGIN
    SET NOCOUNT ON;

    UPDATE [dbo].[Clients_Table01]
    SET [client_name] = @client_name
    WHERE client_phonenumber=@client_phonumber
	end
GO
/****** Object:  StoredProcedure [dbo].[update_clients_phonenumber_using_email]    Script Date: 2/28/2026 3:46:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[update_clients_phonenumber_using_email]
    @client_phonenumber NVARCHAR(MAX),
@client_email NVARCHAR(MAX)
    

AS
BEGIN
    SET NOCOUNT ON;

    UPDATE [dbo].[Clients_Table01]
    SET [client_phonenumber] = @client_phonenumber
    WHERE client_email_address=@client_email
	end
GO
/****** Object:  StoredProcedure [dbo].[update_clients_phonenumber_using_name]    Script Date: 2/28/2026 3:46:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[update_clients_phonenumber_using_name]
    @client_phonenumber NVARCHAR(MAX),
@client_name NVARCHAR(MAX)
    

AS
BEGIN
    SET NOCOUNT ON;

    UPDATE [dbo].[Clients_Table01]
    SET [client_phonenumber] = @client_phonenumber
    WHERE client_name=@client_name
	end
GO
/****** Object:  StoredProcedure [dbo].[update_clients_phonenumber_using_phonenumber]    Script Date: 2/28/2026 3:46:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[update_clients_phonenumber_using_phonenumber]
    @client_phonenumber NVARCHAR(MAX),
@client_phonenumber01 NVARCHAR(MAX)
    

AS
BEGIN
    SET NOCOUNT ON;

    UPDATE [dbo].[Clients_Table01]
    SET [client_phonenumber] = @client_phonenumber01
    WHERE client_phonenumber=@client_phonenumber
	end
GO
USE [master]
GO
