USE [master]
GO
/****** Object:  Database [Email_Database]    Script Date: 2/28/2026 3:48:16 PM ******/
CREATE DATABASE [Email_Database]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Email_Database', FILENAME = N'C:\Users\calle\AppData\Local\Microsoft\VisualStudio\SSDT\Email_Database.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Email_Database_log', FILENAME = N'C:\Users\calle\AppData\Local\Microsoft\VisualStudio\SSDT\Email_Database.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Email_Database].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Email_Database]
GO
/****** Object:  Table [dbo].[Email_Table]    Script Date: 2/28/2026 3:48:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Email_Table](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[full_name] [varchar](max) NOT NULL,
	[email] [varchar](max) NOT NULL,
	[email_creation_date] [varchar](max) NOT NULL,
	[phone_number] [varchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[find_email_using_email]    Script Date: 2/28/2026 3:48:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[find_email_using_email]
	@email NVARCHAR(max)
	AS
	BEGIN
    SELECT [email]
    FROM [dbo].[Email_Table]
    WHERE [email] = @email;
	END
GO
/****** Object:  StoredProcedure [dbo].[find_email_using_name]    Script Date: 2/28/2026 3:48:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[find_email_using_name]
	@fullname NVARCHAR(max)
	AS
	BEGIN
    SELECT [email]
    FROM [dbo].[Email_Table]
    WHERE [full_name] = @fullname;
	END
GO
/****** Object:  StoredProcedure [dbo].[find_email_using_phonenumber]    Script Date: 2/28/2026 3:48:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[find_email_using_phonenumber]
	@phonenumber NVARCHAR(max)
	AS
	BEGIN
    SELECT [email]
    FROM [dbo].[Email_Table]
    WHERE [phone_number] = @phonenumber;
	END
GO
/****** Object:  StoredProcedure [dbo].[find_full_name_using_email]    Script Date: 2/28/2026 3:48:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[find_full_name_using_email]
@fullname NVARCHAR(max)
	AS
	BEGIN
    SELECT [full_name]
    FROM [dbo].[Email_Table]
    WHERE [full_name] = @fullname;
	END
GO
/****** Object:  StoredProcedure [dbo].[find_full_name_using_full_name]    Script Date: 2/28/2026 3:48:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[find_full_name_using_full_name]
	@param1 int = 0,
	@param2 int
AS
	SELECT @param1, @param2
RETURN 0
GO
/****** Object:  StoredProcedure [dbo].[find_full_name_using_phonenumber]    Script Date: 2/28/2026 3:48:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[find_full_name_using_phonenumber]
	@fullname NVARCHAR(max)
	AS
	BEGIN
    SELECT [email]
    FROM [dbo].[Email_Table]
    WHERE [full_name] = @fullname;
	END
GO
/****** Object:  StoredProcedure [dbo].[find_phonenumber_using_email]    Script Date: 2/28/2026 3:48:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[find_phonenumber_using_email]
	@phonenumber NVARCHAR(max)
	AS
	BEGIN
    SELECT [email]
    FROM [dbo].[Email_Table]
    WHERE [phone_number] = @phonenumber;
	END
GO
/****** Object:  StoredProcedure [dbo].[find_phonenumber_using_fullname]    Script Date: 2/28/2026 3:48:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[find_phonenumber_using_fullname]
	@fullname NVARCHAR(max)
	AS
	BEGIN
    SELECT [phone_number]
    FROM [dbo].[Email_Table]
    WHERE [full_name] = @fullname;
	END
GO
/****** Object:  StoredProcedure [dbo].[find_phonenumber_using_phonenumber]    Script Date: 2/28/2026 3:48:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[find_phonenumber_using_phonenumber]
	@param1 int = 0,
	@param2 int
AS
	SELECT @param1, @param2
RETURN 0
GO
/****** Object:  StoredProcedure [dbo].[insert_email]    Script Date: 2/28/2026 3:48:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[insert_email]

                   @full_name VARCHAR (MAX),
                    @email VARCHAR (MAX),
                    @email_creation_date VARCHAR (MAX),
                    @phone_number VARCHAR (MAX)
AS
BEGIN
    INSERT INTO Email_Table(
	               full_name,
                   email,
                   email_creation_date,
                   phone_number)
    VALUES ( 
                   @full_name,
                   @email,
                   @email_creation_date,
                   @phone_number )
END
GO
USE [master]
GO
