USE [master]
GO
/****** Object:  Database [File_Path_Database]    Script Date: 2/28/2026 3:49:11 PM ******/
CREATE DATABASE [File_Path_Database]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'File_Path_Database', FILENAME = N'C:\Users\calle\AppData\Local\Microsoft\VisualStudio\SSDT\File_Path_Database.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'File_Path_Database_log', FILENAME = N'C:\Users\calle\AppData\Local\Microsoft\VisualStudio\SSDT\File_Path_Database.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [File_Path_Database].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [File_Path_Database]
GO
/****** Object:  Table [dbo].[File_Table01]    Script Date: 2/28/2026 3:49:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[File_Table01](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[path] [varchar](max) NOT NULL,
	[file_name] [varchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[insert_file_path]    Script Date: 2/28/2026 3:49:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[insert_file_path]
      @path VARCHAR (MAX),
      @file_name VARCHAR (MAX)
AS
BEGIN
    INSERT INTO File_Table01(path,file_name)
    VALUES (@path,@file_name)
END
GO
USE [master]
GO
