USE [master]
GO
/****** Object:  Database [Language_Database]    Script Date: 2/28/2026 3:50:21 PM ******/
CREATE DATABASE [Language_Database]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Language_Database', FILENAME = N'C:\Users\calle\AppData\Local\Microsoft\VisualStudio\SSDT\Language_Database.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Language_Database_log', FILENAME = N'C:\Users\calle\AppData\Local\Microsoft\VisualStudio\SSDT\Language_Database.ldf' , SIZE = 139264KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Language_Database].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Language_Database]
GO
/****** Object:  Table [dbo].[Language_Table01]    Script Date: 2/28/2026 3:50:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Language_Table01](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[code] [varchar](max) NOT NULL,
	[language] [varchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[find_code_using_code]    Script Date: 2/28/2026 3:50:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[find_code_using_code]
	@code NVARCHAR(max)
	AS
	BEGIN
    SELECT [code]
    FROM [dbo].[language_Table01]
    WHERE [code] = @code;
	END
GO
/****** Object:  StoredProcedure [dbo].[find_code_using_language]    Script Date: 2/28/2026 3:50:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[find_code_using_language]
		@language varchar(max)
		AS
		BEGIN
		SELECT [code]
		FROM [dbo].[language_Table01]
		WHERE [language] = @language;
		END
GO
/****** Object:  StoredProcedure [dbo].[find_language_using_code]    Script Date: 2/28/2026 3:50:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[find_language_using_code]
	@code NVARCHAR(max)
	AS
	BEGIN
    SELECT [language]
    FROM [dbo].[Language_Table01]
    WHERE [code] = @code;
	END
GO
/****** Object:  StoredProcedure [dbo].[find_language_using_Language]    Script Date: 2/28/2026 3:50:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[find_language_using_Language]
		@language NVARCHAR(max)
		AS
		BEGIN
		SELECT [language]
		FROM [dbo].[Language_Table01]
		WHERE [language] = @language;
		END
GO
/****** Object:  StoredProcedure [dbo].[insert_language]    Script Date: 2/28/2026 3:50:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[insert_language]

      @code VARCHAR (MAX),
      @language VARCHAR (MAX)
AS
BEGIN
    INSERT INTO Language_Table01 (code,language)
    VALUES (@code,@language)
END
GO
/****** Object:  StoredProcedure [dbo].[view_all_data_from_language_table]    Script Date: 2/28/2026 3:50:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[view_all_data_from_language_table]
AS
BEGIN
    SELECT * FROM [dbo].[Language_Table01];
END;
GO
USE [master]
GO
