USE [master]
GO
/****** Object:  Database [Movies_Database]    Script Date: 2/28/2026 3:51:18 PM ******/
CREATE DATABASE [Movies_Database]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Movies_Database', FILENAME = N'C:\Users\calle\AppData\Local\Microsoft\VisualStudio\SSDT\Movies_Database.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Movies_Database_log', FILENAME = N'C:\Users\calle\AppData\Local\Microsoft\VisualStudio\SSDT\Movies_Database.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Movies_Database].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Movies_Database]
GO
/****** Object:  Table [dbo].[Movie_Table]    Script Date: 2/28/2026 3:51:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Movie_Table](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[file_location] [varchar](max) NOT NULL,
	[file_name] [varchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[find_file_name_using_file_location]    Script Date: 2/28/2026 3:51:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[find_file_name_using_file_location]
	@file_loctation NVARCHAR(max)
	AS
	BEGIN
    SELECT [file_name]
    FROM [dbo].[Movie_Table]
    WHERE [file_name] = @file_loctation;
	END
GO
/****** Object:  StoredProcedure [dbo].[find_location_using_file_name]    Script Date: 2/28/2026 3:51:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[find_location_using_file_name]
	@file_name NVARCHAR(max)
	AS
	BEGIN
    SELECT [file_name]
    FROM [dbo].[Movie_Table]
    WHERE [file_location] = @file_name;
	END
GO
/****** Object:  StoredProcedure [dbo].[insert_movies]    Script Date: 2/28/2026 3:51:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[insert_movies]
    @file_location    VARCHAR (MAX),
    @file_name    VARCHAR (MAX)


AS
BEGIN
    INSERT INTO Movie_Table(
    file_location,
    file_name  
 )
    VALUES ( @file_location,
    @file_name
)
END
GO
/****** Object:  StoredProcedure [dbo].[view_all_movies]    Script Date: 2/28/2026 3:51:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[view_all_movies]
AS
BEGIN
    SELECT * FROM [dbo].[Movie_Table];
END;
GO
USE [master]
GO
