USE [master]
GO
/****** Object:  Database [Nba_Database01]    Script Date: 2/28/2026 3:52:56 PM ******/
CREATE DATABASE [Nba_Database01]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Nba_Database01', FILENAME = N'C:\Users\calle\AppData\Local\Microsoft\VisualStudio\SSDT\Nba_Database01.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Nba_Database01_log', FILENAME = N'C:\Users\calle\AppData\Local\Microsoft\VisualStudio\SSDT\Nba_Database01.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Nba_Database01].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Nba_Database01]
GO
/****** Object:  Table [dbo].[Nba_Table01]    Script Date: 2/28/2026 3:52:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Nba_Table01](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[get01] [varchar](max) NOT NULL,
	[parameters01] [varchar](max) NOT NULL,
	[errors] [varchar](max) NOT NULL,
	[results] [varchar](max) NOT NULL,
	[response01] [varchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[insert_Leagues]    Script Date: 2/28/2026 3:52:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[insert_Leagues]

    @get01 VARCHAR (MAX),
    @parameters01 VARCHAR (MAX),
    @errors VARCHAR (MAX),
    @results VARCHAR (MAX),
    @response01 VARCHAR (MAX)

	AS
	BEGIN
			 SET NOCOUNT ON;

    -- Check if record already exists
    IF EXISTS (
        SELECT 1
        FROM Nba_Table01
        WHERE get01 = @get01
          AND parameters01 = @parameters01
          AND errors = @errors
    )
    BEGIN
        -- Record already exists, return message
        SELECT 'EXISTS' AS Result;
        RETURN;
    END
		INSERT INTO Nba_Table01
		(get01,
    parameters01,
    errors,
	results,
    response01 )
		VALUES (
		@get01,
    @parameters01,
    @errors,
	@results,
    @response01 )
    SELECT 'INSERTED' AS Result;
END;
GO
/****** Object:  StoredProcedure [dbo].[view_Leagues]    Script Date: 2/28/2026 3:52:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[view_Leagues]
AS
BEGIN
    SELECT * FROM [dbo].[Nba_Table01];
END;
GO
USE [master]
GO
