USE [master]
GO
/****** Object:  Database [User_Database]    Script Date: 2/28/2026 3:53:40 PM ******/
CREATE DATABASE [User_Database]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'User_Database', FILENAME = N'C:\Users\calle\AppData\Local\Microsoft\VisualStudio\SSDT\User_Database.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'User_Database_log', FILENAME = N'C:\Users\calle\AppData\Local\Microsoft\VisualStudio\SSDT\User_Database.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [User_Database].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [User_Database]
GO
/****** Object:  Table [dbo].[User_Table]    Script Date: 2/28/2026 3:53:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User_Table](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](max) NOT NULL,
	[firstname] [varchar](max) NOT NULL,
	[lastname] [varchar](max) NOT NULL,
	[birthdate] [varchar](max) NOT NULL,
	[email] [varchar](max) NOT NULL,
	[phonenumber] [varchar](max) NOT NULL,
	[password] [varchar](max) NOT NULL,
	[longitude] [varchar](max) NOT NULL,
	[latitude] [varchar](max) NOT NULL,
	[creation_date] [varchar](max) NOT NULL,
	[text_file] [varchar](max) NOT NULL,
	[audio_file] [varchar](max) NOT NULL,
	[image_file] [varchar](max) NOT NULL,
	[video_file] [varchar](max) NOT NULL,
	[text_file_creation_date] [varchar](max) NOT NULL,
	[audio_file_creation_date] [varchar](max) NOT NULL,
	[image_file_creation_date] [varchar](max) NOT NULL,
	[video_file_creation_date] [varchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[delete_user_using_email]    Script Date: 2/28/2026 3:53:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[delete_user_using_email]
    @email NVARCHAR(MAX)

AS
BEGIN
    SET NOCOUNT ON;

    DELETE FROM [dbo].[User_Table]
    WHERE email = @email;

    SELECT @@ROWCOUNT AS RowsDeleted;
END
GO
/****** Object:  StoredProcedure [dbo].[delete_user_using_phonenumber]    Script Date: 2/28/2026 3:53:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[delete_user_using_phonenumber]
    @phonenumber NVARCHAR(MAX)

AS
BEGIN
    SET NOCOUNT ON;

    DELETE FROM [dbo].[User_Table]
    WHERE phonenumber = @phonenumber;

    SELECT @@ROWCOUNT AS RowsDeleted;
END
GO
/****** Object:  StoredProcedure [dbo].[delete_user_using_username]    Script Date: 2/28/2026 3:53:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[delete_user_using_username]
    @username NVARCHAR(MAX)

AS
BEGIN
    SET NOCOUNT ON;

    DELETE FROM [dbo].[User_Table]
    WHERE username = @username;

    SELECT @@ROWCOUNT AS RowsDeleted;
END
GO
/****** Object:  StoredProcedure [dbo].[find_email_using_email]    Script Date: 2/28/2026 3:53:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[find_email_using_email]
	@email NVARCHAR(max)
	AS
	BEGIN
    SELECT [email]
    FROM [dbo].[User_Table]
    WHERE [email] = @email;
	END
GO
/****** Object:  StoredProcedure [dbo].[find_email_using_username]    Script Date: 2/28/2026 3:53:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[find_email_using_username]
	@username NVARCHAR(max)
	AS
	BEGIN
    SELECT [email]
    FROM [dbo].[User_Table]
    WHERE [username] = @username;
	END
GO
/****** Object:  StoredProcedure [dbo].[find_password_using_email]    Script Date: 2/28/2026 3:53:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[find_password_using_email]
	@email NVARCHAR(max)
	AS
	BEGIN
    SELECT [password]
    FROM [dbo].[User_Table]
    WHERE [email] = @email;
	END
GO
/****** Object:  StoredProcedure [dbo].[find_password_using_username]    Script Date: 2/28/2026 3:53:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[find_password_using_username]
	@username NVARCHAR(max)
	AS
	BEGIN
    SELECT [password]
    FROM [dbo].[User_Table]
    WHERE [username] = @username;
	END
GO
/****** Object:  StoredProcedure [dbo].[find_phonenumber_using_email]    Script Date: 2/28/2026 3:53:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[find_phonenumber_using_email]
	@email NVARCHAR(max)
	AS
	BEGIN
    SELECT [phonenumber]
    FROM [dbo].[User_Table]
    WHERE [email] = @email;
	END
GO
/****** Object:  StoredProcedure [dbo].[find_phonenumber_using_phonenumber]    Script Date: 2/28/2026 3:53:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[find_phonenumber_using_phonenumber]
	@phonenumber NVARCHAR(max)
	AS
	BEGIN
    SELECT [phonenumber]
    FROM [dbo].[User_Table]
    WHERE [phonenumber] = @phonenumber;
	END
GO
/****** Object:  StoredProcedure [dbo].[find_phonenumber_using_username]    Script Date: 2/28/2026 3:53:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[find_phonenumber_using_username]
	@username NVARCHAR(max)
	AS
	BEGIN
    SELECT [phonenumber]
    FROM [dbo].[User_Table]
    WHERE [username] = @username;
	END
GO
/****** Object:  StoredProcedure [dbo].[find_user_location_using_email]    Script Date: 2/28/2026 3:53:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[find_user_location_using_email]
    @email NVARCHAR(MAX)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT [latitude], [longitude]
    FROM [dbo].[User_Table]
    WHERE [email] = @email;
END
GO
/****** Object:  StoredProcedure [dbo].[find_user_location_using_username]    Script Date: 2/28/2026 3:53:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[find_user_location_using_username]
    @username NVARCHAR(MAX)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT [latitude], [longitude]
    FROM [dbo].[User_Table]
    WHERE [username] = @username;
END
GO
/****** Object:  StoredProcedure [dbo].[find_username_password]    Script Date: 2/28/2026 3:53:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[find_username_password]
    @username NVARCHAR(max),
    @password NVARCHAR(max)
AS
BEGIN
    SELECT [username], [password]
    FROM [dbo].[User_Table]
    WHERE [username] = @username AND [password] = @password;
END
GO
/****** Object:  StoredProcedure [dbo].[find_username_using_email]    Script Date: 2/28/2026 3:53:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[find_username_using_email]
	@email NVARCHAR(max)
	AS
	BEGIN
    SELECT [username]
    FROM [dbo].[User_Table]
    WHERE [username] = @email;
	END
GO
/****** Object:  StoredProcedure [dbo].[find_username_using_username]    Script Date: 2/28/2026 3:53:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[find_username_using_username]
	@username NVARCHAR(max)
	AS
	BEGIN
    SELECT [username]
    FROM [dbo].[User_Table]
    WHERE [username] = @username;
	END
GO
/****** Object:  StoredProcedure [dbo].[find_usernmae_using_username]    Script Date: 2/28/2026 3:53:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[find_usernmae_using_username]
	@username NVARCHAR(max)
	AS
	BEGIN
    SELECT [username]
    FROM [dbo].[User_Table]
    WHERE [username] = @username;
	END
GO
/****** Object:  StoredProcedure [dbo].[insert_text_file_using_username]    Script Date: 2/28/2026 3:53:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[insert_text_file_using_username]
    @email NVARCHAR(MAX),
	@password NVARCHAR(MAX)
    

AS
BEGIN
    SET NOCOUNT ON;

    UPDATE [dbo].[User_Table]
    SET [email] = @email
    WHERE password=@password
	end
GO
/****** Object:  StoredProcedure [dbo].[insert_user]    Script Date: 2/28/2026 3:53:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[insert_user]
    @username NVARCHAR(MAX),
    @firstname NVARCHAR(MAX),
    @lastname NVARCHAR(MAX),
    @birthdate NVARCHAR(MAX),
    @email NVARCHAR(MAX),
    @phonenumber NVARCHAR(MAX),
    @password NVARCHAR(MAX),
    @longitude NVARCHAR(MAX),
    @latitude NVARCHAR(MAX),
    @creation_date NVARCHAR(MAX),
    @text_file NVARCHAR(MAX),
    @audio_file NVARCHAR(MAX),
    @image_file NVARCHAR(MAX),
    @video_file NVARCHAR(MAX),
    @text_file_creation_date NVARCHAR(MAX),
    @audio_file_creation_date NVARCHAR(MAX),
    @image_file_creation_date NVARCHAR(MAX),
    @video_file_creation_date NVARCHAR(MAX)
AS
BEGIN
    INSERT INTO User_Table
    (
        username, firstname, lastname, birthdate, email,
        phonenumber, password, longitude, latitude, creation_date,
        text_file, audio_file, image_file, video_file,
        text_file_creation_date, audio_file_creation_date,
        image_file_creation_date, video_file_creation_date
    )
    VALUES
    (
        @username, @firstname, @lastname, @birthdate, @email,
        @phonenumber, @password, @longitude, @latitude, @creation_date,
        @text_file, @audio_file, @image_file, @video_file,
        @text_file_creation_date, @audio_file_creation_date,
        @image_file_creation_date, @video_file_creation_date
    )
END
GO
/****** Object:  StoredProcedure [dbo].[insert_user_audio_file_using_username]    Script Date: 2/28/2026 3:53:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[insert_user_audio_file_using_username]
@username NVARCHAR(MAX),
@audio_file NVARCHAR(MAX),
@audio_creation_date NVARCHAR(MAX)
AS
BEGIN
SET NOCOUNT ON;
IF EXISTS (SELECT 1 FROM dbo.User_Table WHERE username = @username)
BEGIN
UPDATE dbo.User_Table
SET audio_file = @audio_file,
	audio_file_creation_date = @audio_creation_date 
WHERE username = @username;
END
ELSE
BEGIN
INSERT INTO dbo.User_Table (username, text_file, text_file_creation_date)
VALUES (@username, @audio_file, @audio_creation_date);
END
END
GO
/****** Object:  StoredProcedure [dbo].[insert_user_text_file_using_username]    Script Date: 2/28/2026 3:53:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[insert_user_text_file_using_username]
@username NVARCHAR(MAX),
@text_file NVARCHAR(MAX),
@text_creation_date NVARCHAR(MAX)
AS
BEGIN
SET NOCOUNT ON;
IF EXISTS (SELECT 1 FROM dbo.User_Table WHERE username = @username)
BEGIN
UPDATE dbo.User_Table
SET text_file = @text_file,
	@text_creation_date = @text_creation_date
WHERE username = @username;
END
ELSE
BEGIN
INSERT INTO dbo.User_Table (username, text_file, text_file_creation_date)
VALUES (@username, @text_file, @text_creation_date);
END
END
GO
/****** Object:  StoredProcedure [dbo].[update_email_using_email]    Script Date: 2/28/2026 3:53:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[update_email_using_email]
    @email NVARCHAR(MAX),
	@email01 NVARCHAR(MAX)
    

AS
BEGIN
    SET NOCOUNT ON;

    UPDATE [dbo].[User_Table]
    SET [email] = @email
    WHERE email=@email01
END
GO
/****** Object:  StoredProcedure [dbo].[update_email_using_username]    Script Date: 2/28/2026 3:53:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[update_email_using_username]
    @username NVARCHAR(MAX),
	@email NVARCHAR(MAX)
    

AS
BEGIN
    SET NOCOUNT ON;

    UPDATE [dbo].[User_Table]
    SET [username] = @username
    WHERE email=@email
END
GO
/****** Object:  StoredProcedure [dbo].[update_password_using_email]    Script Date: 2/28/2026 3:53:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[update_password_using_email]
    @email NVARCHAR(MAX),
	@password NVARCHAR(MAX)
    

AS
BEGIN
    SET NOCOUNT ON;

    UPDATE [dbo].[User_Table]
    SET [email] = @email
    WHERE password=@password
	end
GO
/****** Object:  StoredProcedure [dbo].[update_password_using_phonenumber]    Script Date: 2/28/2026 3:53:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[update_password_using_phonenumber]
    @username NVARCHAR(MAX),
	@phonenumber NVARCHAR(MAX)
    

AS
BEGIN
    SET NOCOUNT ON;

    UPDATE [dbo].[User_Table]
    SET [username] = @username
    WHERE phonenumber=@phonenumber
	end
GO
/****** Object:  StoredProcedure [dbo].[update_password_using_username]    Script Date: 2/28/2026 3:53:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[update_password_using_username]
    @username NVARCHAR(MAX),
	@password NVARCHAR(MAX)
    

AS
BEGIN
    SET NOCOUNT ON;

    UPDATE [dbo].[User_Table]
    SET [username] = @username
    WHERE password=@password
	end
GO
/****** Object:  StoredProcedure [dbo].[update_phonenumber_using_email]    Script Date: 2/28/2026 3:53:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[update_phonenumber_using_email]
    @email NVARCHAR(MAX),
	@phonenumber NVARCHAR(MAX)
    

AS
BEGIN
    SET NOCOUNT ON;

    UPDATE [dbo].[User_Table]
    SET [phonenumber] = @phonenumber
    WHERE email=@email
END
GO
/****** Object:  StoredProcedure [dbo].[update_phonenumber_using_username]    Script Date: 2/28/2026 3:53:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[update_phonenumber_using_username]
    @username NVARCHAR(MAX),
	@phonenumber NVARCHAR(MAX)
    

AS
BEGIN
    SET NOCOUNT ON;

    UPDATE [dbo].[User_Table]
    SET [phonenumber] = @phonenumber
    WHERE username=@username
END
GO
/****** Object:  StoredProcedure [dbo].[update_user_location_using_email]    Script Date: 2/28/2026 3:53:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[update_user_location_using_email]
    @Email NVARCHAR(MAX),
    @Latitude NVARCHAR(MAX),
    @Longitude NVARCHAR(MAX)
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE [dbo].[User_Table]
    SET [latitude] = @Latitude,
        [longitude] = @Longitude
    WHERE [email] = @Email;
END
GO
/****** Object:  StoredProcedure [dbo].[update_user_location_using_name]    Script Date: 2/28/2026 3:53:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[update_user_location_using_name]
    @firstname NVARCHAR(MAX),
	@lastname nvarchar(max),
    @Latitude NVARCHAR(MAX),
    @Longitude NVARCHAR(MAX)
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE [dbo].[User_Table]
    SET [latitude] = @Latitude,
        [longitude] = @Longitude
    WHERE [firstname] = @firstname and lastname=@lastname
END
GO
/****** Object:  StoredProcedure [dbo].[update_user_location_using_phonenumber]    Script Date: 2/28/2026 3:53:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[update_user_location_using_phonenumber]

    @phonenumber NVARCHAR(MAX),
    @Latitude NVARCHAR(MAX),
    @Longitude NVARCHAR(MAX)

AS
BEGIN
    SET NOCOUNT ON;

    UPDATE [dbo].[User_Table]
    SET [latitude] = @Latitude,
        [longitude] = @Longitude
    WHERE phonenumber=@phonenumber
END
GO
/****** Object:  StoredProcedure [dbo].[update_user_location_using_username]    Script Date: 2/28/2026 3:53:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[update_user_location_using_username]

    @username NVARCHAR(MAX),
    @Latitude NVARCHAR(MAX),
    @Longitude NVARCHAR(MAX)

AS
BEGIN
    SET NOCOUNT ON;

    UPDATE [dbo].[User_Table]
    SET [latitude] = @Latitude,
        [longitude] = @Longitude
    WHERE username=@username
END
GO
/****** Object:  StoredProcedure [dbo].[update_username_using_email]    Script Date: 2/28/2026 3:53:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[update_username_using_email]
    @email NVARCHAR(MAX),
	@username NVARCHAR(MAX)
    

AS
BEGIN
    SET NOCOUNT ON;

    UPDATE [dbo].[User_Table]
    SET [email] = @email
    WHERE username=@username
END
GO
/****** Object:  StoredProcedure [dbo].[update_username_using_phonenumber]    Script Date: 2/28/2026 3:53:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[update_username_using_phonenumber]
    @username NVARCHAR(MAX),
	@phonenumber NVARCHAR(MAX)
    

AS
BEGIN
    SET NOCOUNT ON;

    UPDATE [dbo].[User_Table]
    SET [username] = @username
    WHERE phonenumber=@phonenumber
	end
GO
/****** Object:  StoredProcedure [dbo].[update_username_using_username]    Script Date: 2/28/2026 3:53:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[update_username_using_username]
    @username NVARCHAR(MAX),
	@username01 NVARCHAR(MAX)
    

AS
BEGIN
    SET NOCOUNT ON;

    UPDATE [dbo].[User_Table]
    SET [username] = @username
    WHERE username=@username01
	end
GO
/****** Object:  StoredProcedure [dbo].[user_login]    Script Date: 2/28/2026 3:53:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[user_login]
    @username NVARCHAR(MAX),
    @password NVARCHAR(MAX)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT [username], [password]
    FROM [dbo].[User_Table]
    WHERE [username] = @username
      AND [password] = @password;
END
GO
/****** Object:  StoredProcedure [dbo].[view_all_emails]    Script Date: 2/28/2026 3:53:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[view_all_emails]
AS
BEGIN
    SET NOCOUNT ON;
    SELECT [email]
    FROM [dbo].[User_Table];
END;
GO
/****** Object:  StoredProcedure [dbo].[view_all_passwords]    Script Date: 2/28/2026 3:53:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[view_all_passwords]
AS
BEGIN
    SET NOCOUNT ON;
    SELECT [password]
    FROM [dbo].[User_Table];
END;
GO
/****** Object:  StoredProcedure [dbo].[view_all_phonenumber]    Script Date: 2/28/2026 3:53:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[view_all_phonenumber]
AS
BEGIN
    SET NOCOUNT ON;
    SELECT [phonenumber]
    FROM [dbo].[User_Table];
END;
GO
/****** Object:  StoredProcedure [dbo].[view_all_username]    Script Date: 2/28/2026 3:53:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[view_all_username]
AS
BEGIN
    SET NOCOUNT ON;
    SELECT [username]
    FROM [dbo].[User_Table];
END;
GO
/****** Object:  StoredProcedure [dbo].[view_user_table]    Script Date: 2/28/2026 3:53:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[view_user_table]
AS
BEGIN
    SELECT * FROM [dbo].[User_Table];
END;
GO
USE [master]
GO
